<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <form id="delete-page" method="post">
            <input type="text" name="username" placeholder="username" autocomplete="off">
            <input type="text" name="name" placeholder="name of item to be deleted" autocomplete="off">
            <input type="submit" value="Delete" onclick="Delete('delete')">
    </div>

    <script>
        function Delete(action) {
            var form = document.getElementById('delete-page');
            if (action === 'delete') {
                form.action = "{{ url_for('delete_to_home') }}";
                form.method = "post";
                form.submit();
        }
    }
    </script>

</body>
</html>
