<!DOCTYPE html>
<html>
<body>
    <p>Important Note: A user can't sell two items that have the same itemname. If a user fills out this form and hits the Sell button and gets an internal server error, that means the user typed in an itemname that they are already selling. In that case, click the back arrow button in the internal server error page to be taken back to this page.</p>
    <div class="container">
        <form id="sell-page" method="post">
            <input type="text" name="username" placeholder="Username" autocomplete="off">
            <input type="text" name="item name" placeholder="Item name" autocomplete="off">
            <input type="text" name="item price" placeholder="item price" autocomplete="off">
            <input type="submit" value="Sell" onclick="setPrice('set')">
    </div>

    <script>
        function setPrice(action) {
            var form = document.getElementById('sell-page');
            if (action === 'set') {
                form.action = "{{ url_for('sell_to_home') }}";
                form.method = "post";
                form.submit();
        }
    }
    </script>

</body>
</html>
