<!DOCTYPE html>
<html>
<body>

    <div class="container">
        <form id="vie" method="post">
            <input type="text" name="username" placeholder="type in your username" autocomplete="off">
            <input type="submit" value="View" onclick="view('vi')">
    </div>

    <script>
        function view(action) {
            var form = document.getElementById('vie');
            if (action === 'vi') {
                form.action = "{{ url_for('show_view') }}";
                form.method = "post";
                form.submit();
        }
    }
    </script>

</body>
</html>
